.chat-side
  .chat-side__user
    .chat-side__user-content
      .chat-side__user-name
        テストさん
      %a.chat-side__user--new-group
        %i.fa.fa-pencil-square-o
      %a.chat-side__user--edit-user
        %i.fa.fa-cog

  .chat-side__groups
    .chat-side__groups-list
      .chat-side__group
        .chat-side__group-name
          テストグループ
        .chat-side__group-message
          テストです
      .chat-side__group
        .chat-side__group-name
          テストなんですよ
        .chat-side__group-message
          なーんも読み込んでないです

.chat-main
  .chat-main__header
    .chat-main__header--group.clearfix
      .chat-main__header--group-name
        テストグループ
      %a.chat-main__header--group-edit-btn
        Edit
    .chat-main__header-members
      MEMBER:
      %i
        テストさん  大宇宙

  .chat-main__body
    .chat-main__body--messages-list
      .chat-main__message.clearfix
        .chat-main__message-name
          テストさん
        .chat-main__message-time
          2018/09/05 12:41:11
        .chat-main__message-body
          テストです
          .chat-main__message-body-image
      .chat-main__message.clearfix
        .chat-main__message-name
          大宇宙
        .chat-main__message-time
          2018/09/05 15:51:43
        .chat-main__message-body
          宇宙ヤバイ
          .chat-main__message-body-image
      .chat-main__message.clearfix
        .chat-main__message-name
          テストさん
        .chat-main__message-time
          2018/09/05 15:51:43
        .chat-main__message-body
          ここの子要素にimgがあります
          .chat-main__message-body-image

  .chat-main__footer
    %form#new_massage.chat-main__footer-form
      .chat-main__footer-body
        %input#message_body.message{name: "message[body]", placeholder: "type a message", type: "text"}
        %label.chat-file{for: "message_image"}
          %input#message_image.image{name: "message[image]", type: "file"}
            %i.fa.fa-image
        %input.submit{"data-disable-with" => "Send", name: "commit", type: "submit", value: "Send"}

