
.chat-side {
  height: 100vh;
  width: 300px;
  float: left;
  background-color: red;//確認用

  .chat-side__user {
    height: 15%;
    width: 100%;
    background-color: #253141;
    position: relative;

      .chat-side__user-content {
      height: 50px;
      width: 100%;
      line-height: 50px;
      margin: auto 0;
      position: absolute;
      top: 0;
      bottom: 0;

      .chat-side__user-name {
        color: #fff;
        font-size: 16px;
        font-weight: bold;
        margin: 0 20px;
        position: relative;
        display: inline-block;
      }

      .chat-side__user--new-group {
        color: #fff;
        margin-left: 90px;
        position: relative;
        display: inline-block;
      }

      .chat-side__user--edit-user {
        color: #fff;
        position: relative;
        display: inline-block;
      }
    }
  }

  .chat-side__groups {
    height: 85%;
    width: 100%;
    background-color: #2f3e51;
  }
}

.chat-main {
  height: 100vh;
  width: calc( 100vw - 300px );
  float: left;
  background-color: #FFFFFF;

  .chat-main__header {
    height: 15%;
    border: 1px solid #eee;
  }

  .chat-main__body {
    height: calc( 100vh - 15% - 90px );
    overflow-y: scroll;
  }

  .chat-main__footer {
    height: 90px;
    width: 100%;
    background-color: #B8C3C7;
  }
}
